@import "components/homepage-nav/homepage-nav.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import '~bootstrap/scss/bootstrap.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #fafafa;
}

$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #3c5a99;

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

@mixin btn($width) {
  width: $width;
  background-color: $generic-bg;
  color: #fff !important;
  border: 1px solid transparent;
  margin-right: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  padding: 6px 12px 7px 12px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
}

@mixin va($va-center: center) {
  display: flex;
  align-items: center;
  @if $va-center != center {
    justify-content: left;
  } @else {
    justify-content: center;
  }
}

// .main-container {
//   height: 100vh;
// }

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn-primary {
  background: #3c5a99;
  color: white;
  font-size: 25px;
  padding: 0.5rem;
  margin-top: 25px;
  button {
    @include btn("50px");
  }
}

.btn-primary-no-margin {
  background: #3c5a99;
  color: white;
  font-size: 25px;
  padding: 0.5rem;
  button {
    @include btn("50px");
  }
}

.question {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  input {
    font-size: 50px;
  }
  h1 {
    color: #3c5a99;
  }
  .answer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    width: 100%;
  }
}

.result {
  p {
    font-size: 50px;
  }
  .container-right-bottom {
    position: absolute;
    bottom: 1px;
    right: 1px;
  }
}
.multiple-choice {
  text-align: center;
}

.multiple-choice-grid {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 150px 150px;
  grid-gap: 100px;
}

.login {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  padding: 1rem;
  box-shadow: 5px 10px 8px #888888;
  height: 300px;
  width: 300px;
}
